body {
    font-family: 'Source Sans Pro', sans-serif;
}

.slick-slide:focus, button:focus {
    outline: none;
    box-shadow: none;
}

a, a:hover, a:focus, .advanced_addons_blog_post.type-1 .block_post_title:hover {
    text-decoration: none !important;
}

/*----------------------------------
    //Color Css
----------------------------------*/
.bg-f9f9f9 {
    background: #f9f9f9;
}

.bg-f5f5f5 {
    background: #f5f5f5;
}

.text-8f8f8f {
    color: #8f8f8f;
}

.bg-fafafa {
    background: #fafafa;
}

.text-09c88a {
    color: #09c88a;
}

.bg-f9f9f9 {
    background: #f9f9f9;
}

.bg-f7f7f7 {
    background: #f7f7f7;
}

.text-white {
    color: #ffffff !important;
}

.text-777777 {
    color: #777777;
}

.text-7e61d2 {
    color: #7e6ad2;
}

.text-782fd9 {
    color: #782fd9;
}

.text-865fe1 {
    color: #865fe1;
}

.text-2f2f2f {
    color: #2f2f2f;
}

.bg-2f2f2f {
    background: #2f2f2f;
}

.text-727272 {
    color: #727272 !important;
}

.text-555555 {
    color: #555555;
}

.text-e0e0e0 {
    color: #e0e0e0;
}

.bg-fdfdfd {
    background: #fdfdfd;
}

.bg-fcfcfc {
    background: #fcfcfc;
}

.text-c4c4c4 {
    color: #c4c4c4;
}

.bg-fafbfd {
    background: #fafbfd;
}

.bg-fefefe {
    background: #fefefe;
}

.text-fff77a {
    color: #fff77a;
}

.text-9a9a9a {
    color: #9a9a9a;
}

.text-00d1b2 {
    color: #00d1b2;
}

.bg-00d1b2 {
    background-color: #00d1b2 !important;
}

.bg-f8f9fb {
    background: #f8f9fb;
}

.bg-ff5757 {
    background: #ff5757;
}

/*-------------------------------
    //Default Settings
-------------------------------*/
.full-width {
    width: 100% !important;
}

.list-style-none {
    list-style: none;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}

.bordered {
    border: 1px solid #f1f1f1;
}

.rounded-12 {
    border-radius: 12px !important;
}

.rounded-20 {
    border-radius: 20px !important;
}

.w-100 {
    width: 100%;
}

.shadow-none {
    box-shadow: none !important;
}

.text-decoration-underline {
    text-decoration: underline;
}

/*-------------------------------------------
    // Transition css
-------------------------------------------*/
.advanced_addons_btn {
    transition: all .20s linear;
}

/*---------------------------------
    //Spacing Css
---------------------------------*/
.pt-120 {
    padding-top: 120px;
}

.pb-120 {
    padding-bottom: 120px;
}

.pt-120 {
    padding-top: 120px;
}

.pt-60 {
    padding-top: 60px;
}

.pb-60 {
    padding-bottom: 60px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-60 {
    margin-bottom: 60px;
}

.mt-120 {
    margin-top: 120px;
}

.mb-100 {
    margin-bottom: 100px;
}

.pt-100 {
    padding-top: 100px;
}

.pb-100 {
    padding-bottom: 100px;
}

/*----------------------------------
    //Typhography
----------------------------------*/
p {
    font-size: 14px;
    color: #727272;
    line-height: 24px;
}

.font-weight-semi-bold {
    font-weight: 600;
}

.font-size-16 {
    font-size: 16px;
}

.fz-35 {
    font-size: 35px;
}

.fz-50 {
    font-size: 50px;
}

.fz-14 {
    font-size: 14px;
}

.fz-40 {
    font-size: 40px;
}

.fz-20 {
    font-size: 20px;
}

.fz-18 {
    font-size: 18px ;
}

.fz-16 {
    font-size: 16px;
}

.fz-24 {
    font-size: 24px;
}

.fz-26 {
    font-size: 26px;
}

.fz-80 {
    font-size: 80px;
}

/*----------------------------------
    // Utility css
----------------------------------*/
.fixed-bg {
    background-attachment: fixed;
}

/*--------------------------------------
    //plugin css
--------------------------------------*/
.overlay {
    width: 100%;
    height: 100%;
    background: rgba(57, 224, 170, .90);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

/*--------------------------------------
    // Section Title
--------------------------------------*/
.advanced_addons_section_title.type-1 h3 {
    color: #2f2f2f;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    margin-bottom: 20px;
}

.advanced_addons_section_title.type-1 p {
    color: #a1a1a1;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    margin-bottom: 0;
}

/*--------------------------------------
    //Forms
--------------------------------------*/
.advanced_addons_field:focus {
    outline: none;
    box-shadow: none;
}

.advanced_addons_field_group {
    margin-bottom: 25px;
}

textarea.advanced_addons_field {
    height: 94px;
}

.advanced_addons_label {
    display: block;
    font-size: 16px;
    color: #2f2f2f;
    margin-bottom: 5px;
}

.advanced_addons_field {
    display: block;
    width: 100%;
    border: 1px solid #e4e4e4;
    border-radius: 6px;
    padding-left: 15px;
    font-size: 14px;
    color: #7d7d7d;
}

select.advanced_addons_field, .advanced_addons_field[type=text], .advanced_addons_field[type=email], .advanced_addons_field[type=password], .advanced_addons_field[type=number] {
    height: 44px;
    font-weight: 400;
}

.advanced_addons_form_group {
    display: flex;
}

/*----------------------------------------
    //Button Css
----------------------------------------*/
.btn_default {
    min-width: 165px;
}

.advanced_addons_btn.advanced_addons_btn_solid {
    background: #2f2f2f;
    border-color: #2f2f2f;
    color: #ffffff;
}

.advanced_addons_btn {
    border: 1px solid transparent;
    line-height: 46px;
    font-size: 18px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.advanced_addons_btn i {
    padding-right: 5px;
    display: inline-block;
}

.advanced_addons_btn.advanced_addons_btn_bordered {
    background: transparent;
    border-color: #2f2f2f;
    color: #2f2f2f;
}

.btn_rounded {
    border-radius: 6px;
}

.btn_pill {
    border-radius: 50rem !important;
}

/*----------------------------------------
    // Slider Style
----------------------------------------*/
.advanced_addons_dots {
    list-style: none;
    display: inline-flex !important;
    flex-flow: row;
    padding-left: 0;
    margin-bottom: 0;
}

.advanced_addons_dots li {
    height: 13px;
    width: 13px;
    border-radius: 50%;
    display: inline-flex;
    border: 1px solid #a9a9a9;
    cursor: pointer;
}

.advanced_addons_dots li
button {
    display: none;
}

.advanced_addons_dots li:not(:last-child) {
    margin-right: 10px;
}

.advanced_addons_dots li.slick-active {
    background: #a9a9a9;
}

/*--------------------------------------
    //Search Box
--------------------------------------*/
.advanced_addons_search_box.type-1 {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, .05);
    padding: 60px 80px 60px 80px;
}

.advanced_addons_search_box.type-1 .advanced_addons_field {
    height: 50px;
    line-height: 50px;
}
.advanced_addons_search_box.type-1 p {
    margin-bottom: 0;
}

.no-before::before{
    display: none;
 }
 .no-after::after{
    display: none;
 }
 .no-before-after::after,
 .no-before-after::before{
    display: none;
 }
/*--------------------------------------------------
    //Responsive css
--------------------------------------------------*/
@media (min-width:992px) and (max-width:1200px) {
}

@media (max-width:1200px) and (min-width:768px) {

    /*search box*/
    .advanced_addons_search_box.type-1 {
        padding: 40px 30px 40px 30px;
    }

    /*Searchbox*/
    .pb-120 {
        padding-bottom: 80px;
    }

    .pt-120 {
        padding-top: 80px;
    }

    .pb-60 {
        padding-bottom: 40px;
    }

    .mb-60 {
        margin-bottom: 40px;
    }

    /*font size*/
    .fz-50 {
        font-size: 40px;
    }

    .fz-40 {
        font-size: 30px;
    }

    .fz-20 {
        font-size: 18px;
    }

    .fz-80 {
        font-size: 65px;
    }

}

@media(max-width:767px) {

    /*padding*/
    .pb-120 {
        padding-bottom: 70px;
    }

    .pt-120 {
        padding-top: 70px;
    }

    .pb-60 {
        padding-bottom: 40px;
    }

    .fz-40 {
        font-size: 30px;
    }

    .mb-60 {
        margin-bottom: 30px;
    }
    .fz-24 {
    font-size: 18px;
}

    /*padding*/
    .advanced_addons_section_title.type-1 h3 {
        font-size: 26px;
        line-height: 30px;
        margin-bottom: 10px;
    }

    .advanced_addons_section_title.type-1 p {
        letter-spacing: 1px;
        font-size: 12px;
    }
    .advanced_addons_btn_parent div {
        flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 16px;
        text-align: center;
    }

    /*font size*/
    .fz-20 {
        font-size: 16px;
    }

    /**/
    .advanced_addons_btn_parent {
        flex-wrap: wrap;
    }
}

@media (max-width:576px) {
    .fz-18 {
        font-size: 14px;
    }
    /**/
    .advanced_addons_search_box.type-1 .row {
        flex-flow: column !important;
        text-align: center;
    }

    .advanced_addons_search_box.type-1 .advanced_addons_btn {
        margin-left: -110px;
        min-width: 106px;
        font-size: 14px;
    }

    /*button css*/
    .btn_default {
        min-width: 140px;
    }

    /*buttonc ss*/
}